<tabset>
    <tab title="First tab">
        Aute reprehenderit nulla cillum cupidatat nulla laborum non non qui labore. Laboris non cupidatat aliquip culpa velit do laborum eiusmod nisi esse esse adipisicing officia. In excepteur nulla do eu sint laboris est aliqua. Exercitation laborum ea adipisicing ad velit. Adipisicing in non laborum tempor veniam Lorem nostrud irure officia duis ea commodo. Adipisicing consequat irure consequat sunt nulla magna sit et.
    </tab>
    <!-- <tab *ngFor="let tab of tabs"
         [title]="tab.title">
         {{ tab.content}}
    </tab> -->
    <tab title="Styling">
        <app-inline-style></app-inline-style>
        <app-external-style></app-external-style>
        <app-native-encapsulation></app-native-encapsulation>
        <!-- <app-no-encapsulation></app-no-encapsulation> -->
        <app-hybrid></app-hybrid>
    </tab>
    <tab title="Host">
        <app-demo-demo></app-demo-demo>
        <app-demo-demo2></app-demo-demo2>
        <app-demo-demo3></app-demo-demo3>
        <app-demo-demo4></app-demo-demo4>
        <app-content-projection-demo></app-content-projection-demo>
    </tab>
    <tab title="LIfe cycle - init, destroy">
        <app-on-init-demo></app-on-init-demo>
    </tab>
    <tab title="LIfe cycle - changes">
        <app-on-changes-demo></app-on-changes-demo>
    </tab>
    <tab title="LIfe cycle - do check">
        <app-differs-demo></app-differs-demo>
    </tab>
    <tab title="LIfe cycle - all hooks">
        <app-all-hooks-demo></app-all-hooks-demo>
    </tab>
    <tab title="Rewriting Directive- ngIf">
        <app-ng-book-if-demo></app-ng-book-if-demo>
    </tab>
    <tab title="Rewriting Directive- ngFor">
        <app-ng-book-for-demo></app-ng-book-for-demo>
    </tab>
    <tab title="Change detection">
        <app-on-push-demo></app-on-push-demo>
    </tab>
    <tab title="Observable change detection">
        <app-observerable-obseravable-demo></app-observerable-obseravable-demo>
    </tab>
</tabset>
<a href="https://github.com/JenHsuan/ngBookPractices/tree/master/advanced-components"
   class="link">Check the source code on Github</a>
