<div class="counter-contaier">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="content">Counter</h3>
          <p class="content">Angular with Redux</p>
        </div>
        <p class="control-panel">
          <button (click)="Increment()" class="btn btn-primary">
            +
          </button>
          <span class="counter">{{ counter }}</span>
          <button (click)="Decrement()" class="btn btn-primary">
            -
          </button>
        </p>
      </div>
</div>
