<div class="searchbar-container">
    <h1>Music Search</h1>
    <div class="searchbar">
        <input type="text" placeholder="keywords" #newQuery
        [appFocus]="true"
        [value]="query"
        (keydown.enter)="submit(newQuery.value)">
        <button (click)="submit(newQuery.value)"><i class='fa fa-search'></i></button>
    </div>
</div>
<div *ngIf="results" class="results">
    <div class="msg" *ngIf="!results.length">
        No track were found
    </div>
    <div *ngIf="results.length">
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let t of results">
                <div class="thumbnail">
                    <div class="content">
                        <img src="{{ t['album']['images'][0]['url']}}" class="img-responsive">
                        <div class="caption">
                            <br>
                            <p>
                                <a [routerLink]="['/tracks', t['id']]">
                                    {{ t['name'] }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
